<h1>Books</h1>
<!-- 表には内容をeachで繰り返しで表示させる -->
<table class="books">
	<tr>
		<th class="th-title">Title</th>
		<th class="th-body">body</th>
	</tr>
	<tr>
		<td>たいとる</td>
		<td>ほんぶん</td>
		<td>詳細</td>
		<td>編集</td>
		<td>削除</td>
	</tr>

</table>

<h2>New book</h2>
<h5>Title</h5>
<!-- ここにフォームtext_fild -->
<h5>Body</h5>
<!-- ここにフォームtext_area -->
<!-- ここにcreateボタン -->